<h2>Hello!</h2>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text" ,
        "id": "test" ,
        "label": "test label" ,
        "default":  "default text" ,
        "info" : "text入力欄です"
      }
    ],
    "presets":[
      {
        "name":"lesson1"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}