<div class="page-width">
  <h2>{{ section.settings.test }}</h2>
  {% for block in section.blocks %}
    {{ block.settings.block1-1 }}
  {% endfor %} 
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text" ,
        "id": "test" ,
        "label": "test label" ,
        "default":  "default text" ,
        "info" : "text入力欄です"
      }
    ],
     "blocks": [
      {
        "name": "ブロック1",
        "type": "block1",
        "settings": [
            {
                "type": "text",
                "id": "block1-1",
                "label": "確認用テキスト",
                "default":  "block1の確認用テキスト"
            }
        ]
      }
    ] ,
    "presets":[
      {
        "name":"lesson1"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}